{
	"source": {
		"directories": [
			"src"
		],
		"excludes": [
			"/.*Exception\\.php/",
			"Exceptions/ExceptionHandler.php"
		]
	},
	"logs": {
		"text": "php:\/\/stderr",
		"badge": {
			"branch": "master"
		}
	}
}
