{
	"source": {
		"directories": [
			"src"
		],
		"excludes": [
			"/.*Exception\\.php/",
			"Exceptions/ExceptionHandler.php"
		]
	},
	"logs": {
		"text": "php:\/\/stdout",
		"badge": {
			"branch": "develop"
		}
	},
	"minMsi": 90,
	"minCoveredMsi": 100
}
