{
	"source": {
		"directories": [
			"src"
		],
		"excludes": [
			"/.*Exception\\.php/",
			"Exceptions/ExceptionHandler.php"
		]
	},
	"mutators": {
	    "@default": true,
	    "@unwrap": false,
	    "@extensions": false,
	    "global-ignore": [
            "Philly\\Support\\Str::random"
        ],
        "global-ignoreSourceCodeByRegex": [
	        "Console::.*"
	    ],
	    "TrueValue": {
	        "ignore": [
	            "Philly\\Foundation\\CLI\\Commands\\CreateCommandCommand::__construct"
	        ]
	    }
	},
	"logs": {
		"text": "php:\/\/stdout",
		"badge": {
			"branch": "develop"
		}
	},
	"minMsi": 90,
	"minCoveredMsi": 95
}
