<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer">
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>test/Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
